@model X.PagedList.IPagedList<BMOS.Models.RefundsInfoModel>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    Layout = "_ManagePage";
    ViewData["Title"] = "Index";
}

<h1>Quản lý trả hàng</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Mã trả hàng
            </th>
            <th>
                Mã khách hàng
            </th>
            <th>
                Mã đơn hàng
            </th>
            
            <th>
                <a style="text-decoration:none; color:darkorange" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Thời gian</a>
            </th>
            <th>
                Xác nhận của Staff
            </th>
            <th>
                <a style="text-decoration:none;color:darkorange" asp-controller="RefundsManage" asp-action="Index">Xóa tìm kiếm</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RefundId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
                <td>
                    @{
                        if ((item.IsConfirm) == true)
                        {
                            <p style="color:green;">Đã phê duyệt </p>

                        }
                        else
                        {
                            <p style="color:red">Chưa phê duyệt </p>
                        }
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RefundId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RefundId">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
<div style="font-size:2rem; margin-bottom:2rem; margin-left:1rem;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
</div>
<div style="font-size:1rem; margin-bottom:2rem; margin-left:1rem;">
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
    })
</div>
