@model X.PagedList.IPagedList<BMOS.Models.RefundsInfoModel>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    Layout = "_ManagePage";
    ViewData["Title"] = "Index";
}
<ul style="font-size:1rem;list-style:none; display:flex;">
    <span>Sắp xếp:</span>
    <li style="padding-left: 5px;">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">A-Z</a> |
    </li>
    <li style="padding-left: 5px;">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["IdDescSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Z-A</a> |
    </li>
    <li style="padding-left: 5px;">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Cũ nhất</a> |
    </li>
    <li style="padding-left: 5px;">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateDescSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Mới nhất</a>
    </li>
    <li>
        <a style="font-size: 1rem; text-decoration: none;margin-left:47rem;" asp-controller="RefundsManage" asp-action="Index">Xóa tìm kiếm</a>
    </li>
</ul>
<h1>Refunds Manage</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Refunds Id
            </th>
            <th>
                User Id
            </th>
            <th>
                Order Id
            </th>
            <th>
                Miêu tả
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Xác nhận
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RefundId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
                <td>
                    @{
                        if ((item.IsConfirm) == true)
                        {
                            <p style="color:green;">Đã phê duyệt </p>

                        }
                        else
                        {
                            <p style="color:red">Chưa phê duyệt </p>
                        }
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RefundId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RefundId">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
<div style="font-size:1rem; margin-bottom:2rem; margin-left:1rem;">
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
    })
</div>
