@model IEnumerable<BMOS.Models.Entities.TblRefund>

@{
    Layout = "_ManagePage";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RefundId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConfirm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RefundId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
                <td>
                    @{
                        if ((item.IsConfirm) == true)
                        {
                            <p style="color:green;">Đã phê duyệt </p>

                        }
                        else
                        {
                            <p style="color:red">Chưa phê duyệt </p>
                        }
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RefundId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RefundId">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
