@model X.PagedList.IPagedList<BMOS.Models.BlogInfoModel>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
	Layout = "_ManagePage";
	ViewData["Title"] = "Blog Manage";
}

<h1>Quản lý blog</h1>

<a style="text-decoration:none;color:darkorange" asp-action="Create">
    <button type="button" class="btn btn-primary">Tạo Blog</button>
</a>
<a style="text-decoration:none;color:darkorange" asp-controller="BlogManager" asp-action="Index">
    <button type="button" class="btn btn-warning">Làm mới</button>
</a>
<table class="table">
	<thead>
		<tr>
			<th>Ảnh blog</th>
			<th>Tên Blog</th>
			<th>Ngày tạo</th>
			<th>Trạng Thái</th>


		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<img src="@item.blogImage" style="width: 100px; height: 100px"/>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.blogName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>

				<td>					
                    <a style="text-decoration:none;" asp-action="Edit" asp-route-id="@item.blogId">
                        <button type="button" class="btn btn-primary">Chỉnh sửa</button>
                    </a>
                    <a style="text-decoration:none;" asp-route-id="@item.blogId" data-bs-toggle="modal" data-bs-target="#fbdetail-@item.blogId">
                        <button type="button" class="btn btn-info">Chi tiết</button>
                    </a>

                    <div class="modal" tabindex="-1" id="fbdetail-@item.blogId">
                        <div class="modal-dialog modal-xl modal-fullscreen-xl-down">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h5 class="modal-title fw-bold" style="font-size:3rem;">chi tiết đánh giá</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                </div>

                                <div class="info">
                                    <dl class="info" style="margin-left:300px;">
                                        <dt class="col-sm-2">
                                          Hình Blog
                                        </dt>
                                        <dd class="col-sm-10">
											<img src="@item.blogImage" width="200px" height="200px" />
                                        </dd>
                                        <dt class="col-sm-2">
                                            Tên Blog
                                        </dt>
                                        <dd class="col-sm-10">
                                            @item.blogName
                                        </dd>
                                        <dt class="col-sm-2">
                                            Nội dung Blog
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.Raw(item.blogDescription)
                                        </dd>
                                        <dt class="col-sm-2">
                                            Ngày
                                        </dt>
                                        <dd class="col-sm-10">
                                            @item.Date
                                        </dd>
                                        <dt class="col-sm-2">
                                            Trạng thái
                                        </dt>
                                        <dd class="col-sm-10">
                                            @{
                                                if ((item.Status) == true)
                                                {
                                                    <p style="color:green;">Hoạt động </p>

                                                }
                                                else
                                                {
                                                    <p style="color:red">Không hoạt động </p>
                                                }
                                            }
                                        </dd>

                                    </dl>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <form method="post" asp-action="Delete" asp-route-id="@item.blogId">

                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
				</td>

			</tr>
		}

	</tbody>


</table>
<div style="font-size:2rem; margin-bottom:2rem; margin-left:1rem;">
	Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
</div>
<div style="font-size:1rem; margin-bottom:2rem; margin-left:1rem;">
	@Html.PagedListPager(Model, page => Url.Action("Index",
	new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
	new PagedListRenderOptions {
	LiElementClasses = new string[] { "page-item" },
	PageClasses = new string[] { "page-link" }
	})
</div>