@model IEnumerable<BMOS.Models.Entities.TblOrderDetail>
@{
	ViewData["Title"] = "OrderDetail";
	Layout = "_HeaderFooter";
	var id = ViewBag.ID;
}

@if (id.Equals("3"))
{
	<div class="container">
		<div class="content">
			<div class="row userprofile">
				<div class="col-12 userprofile_title">Trang chủ/ Chỉnh sửa người dùng</div>
			</div>
			<div class="row userinfo">
				<div class="col-7 userprofile_info">
					<div class="row userprofile_info_wel">
						<div class="col-6">
							<div class="userprofile_info_wel_history" style="background-color: #e38a41;">
								<img src="~/images/history.png" alt="" srcset="">
								<a href="~/Account/UserHistoryOrder" style="text-decoration: none; color: black;"><h3 style="font-weight: bold; margin-top: 10px;">Lịch sử đơn hàng</h3></a>
							</div>
						</div>
						<div class="col-6">
							<div class="userprofile_info_wel_welcome">
								<img src="~/images/user-icon.png" alt="" srcset="">
								<h3 style="font-weight: bold; margin-top: 10px;">Xin chào, <Span>@ViewBag.Fullname</Span></h3>
							</div>
						</div>
					</div>
					<style>
						.btn-back {
							width: 20%;
							font-weight: bold;
							font-size: 2rem;
							display: flex;
							align-items: center;
							justify-content: center;
							text-decoration: none;
							color: black;
							background-color: orange;
							height: 5rem;
							border-radius: 10px;
						}

							.btn-back:hover {
								color: #b48010;
							}
					</style>

					<div class="row">
						<div class="col-12 user_history" style="padding: 10px 10px;">
							<div class="order-detail-header" style="border-bottom: 1px solid black">
								<h4 style="color: rgb(247, 157, 40); font-weight: bold;">Chi tết đơn hàng</h4>
							</div>
							<div class="order-detail-body" style="margin: 10px 0;">
								<div class="body-head" style="display: flex; align-items: center; justify-content: space-between;">
									<h3 style="font-weight: bold; font-size: 2rem;"><b>Mã đơn hàng: </b>@ViewBag.OrderID</h3>
									<h3 style="font-weight: bold; font-size: 2rem;"><b>Ngày: </b>@ViewBag.Date</h3>
								</div>
								<div class="body-content" style="margin: 10px 0;">
									<table class="table" style="text-align: center; border: 1px solid black; font-size: 2rem;">
										<thead>
											<tr>
												<th>
													<h2>Mã sản phẩm</h2>
												</th>
												<th>
													<h2>Tên sản phẩm</h2>
												</th>
												<th>
													<h2>Ảnh</h2>
												</th>
												<th>
													<h2>Số lượng</h2>
												</th>
												<th>
													<h2>Giá</h2>
												</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model)
											{
												<tr>
													<td>
														@Html.DisplayFor(modelItem => item.ProductId)
													</td>
													<td>
														No
													</td>
													<td>
														No
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.Quantity)
													</td>
													<td>
														@Html.DisplayFor(modelItem => item.Price)
													</td>

												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
							<div class="body-footer" style=" display:flex; align-items:center; justify-content: space-between;">
								<a href="~/Account/UserHistoryOrder" class="btn-back">Trở lại</a>
								@{
									DateTime date = DateTime.Today.AddDays(-2);
								}
								@if (@ViewBag.Date >= date)
								{
									<button class="btn-back" asp-action="addrefund" asp-controller="account" data-bs-toggle="modal" data-bs-target="#refund">

										Hoàn trả
									</button>
									<div class="modal" tabindex="-1" id="refund">
										<div class="modal-dialog modal-lg modal-dialog-centered" style="margin-top:10rem;">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title fw-bold" style="font-size:3rem;">Hoàn trả</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
												</div>
												@*<form method="post" asp-action="addrefund" asp-controller="account">*@
												<input type="hidden" class="form-control" name="userid" value="" required />
												<div class="form-group" style="padding:0px 5rem;">
													<label for="recipient-name" class="col-form-label fw-bold" style="font-size:3rem;">Mã đơn hàng</label>
													<input type="text" class="form-control" style="font-size:2rem;" value="@ViewBag.OrderID" name="orderid" readonly />
												</div>
												<input type="hidden" class="form-control" name="userid" value="@id" required />
												<div class="form-group" style="padding:0px 5rem;">
													<label for="recipient-name" class="col-form-label fw-bold" style="font-size:3rem;">Lý do hoàn trả</label>
													<textarea class="form-control" style="font-size:2rem;" name="note" required></textarea>
												</div>

												<div class="modal-footer">
													<button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
													<button type="submit" class="btn btn-primary ajax-submit-form-refund">Gửi đơn</button>
												</div>
												@*</form>*@
											</div>
										</div>
									</div>
								}
								else
								{

								}

								<h3 style="font-weight: bold; font-size: 2rem;"><b>Tổng tiền: </b>@ViewBag.TotalPrice<br></h3>
							</div>


						</div>
					</div>



				</div>


				<div class="col-5">
					<div class="userprofile_bar">
						<div class="userprofile_bar_profile">
							<img src="~/images/user-icon.png" alt="" srcset="">
							<a href="~/Account/UserProfile" target="" style="color: #e38a41; font-weight: bold;">Hồ sơ</a>
						</div>
						<div class="userprofile_bar_profile">
							<img src="~/images/locationmanege.png" alt="" srcset="">
							<a href="~/Account/UserLocation" target="">Cài đặt địa chỉ</a>
						</div>
						<div class="userprofile_bar_profile">
							<img src="~/images/reset-password.png" alt="" srcset="">
							<a href="~/Account/UserChangePassword" target="">Đổi mật khẩu</a>
						</div>
						<div class="userprofile_bar_profile">
							<img src="~/images/logout.png" alt="" srcset="">
							<a href="~/Account/Refund" target="">Hoàn trả sản phẩm</a>
						</div>
						<div class="userprofile_bar_profile">
							<img src="~/images/logout.png" alt="" srcset="">
							<a href="~/Account/Logout" target="">Đăng xuất</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<h4>Tài khoản của bạn không thể thực hiện chức năng này</h4>
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	$(document).ready(function () {
		var submitBtn = $('.ajax-submit-form-refund');
		var orderId = $('input[name="orderid"]').val();
		var reason = $('input[name="note"]').val();
	
		submitBtn.click(function () {
			$.ajax({
				url: "/Account/AddRefund",
				data: {
					orderid: orderId,
					note: reason,
				},
				success: function (data) {
					if (data.messge != null) {
						Swal.fire({
							icon: 'error',
							title: 'Oops...',
							text: 'Bạn đã có đơn hàng này trong hệ thống!',
						});
					} else {
						
						Swal.fire({
							position: 'center',
							icon: 'success',
							title: 'Oke bạn tui sẽ duyệt cho bạn',
							showConfirmButton: true,
							confirmButtonColor: '#3085d6',
							confirmButtonText: '<a href="/Account/Refund">OK</a>',
						});
						
						
						
					}
				}
			});
		});
	});
</script>