@model Demo.Models.Entities.TblUser

@{
    Layout = "_UsersCreatePage";
    ViewData["Title"] = "UsersDetail";
}

<h1>Users Detail</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsConfirm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsConfirm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numberphone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numberphone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastActivitty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastActivitty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Point)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Point)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @{
                if ((Model.Status) == true)
                {
                    <p style="color:green;">Hoạt động </p>

                }
                else
                {
                    <p style="color:red">Không hoạt động </p>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserRoleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserRoleId)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>

