@model X.PagedList.IPagedList<BMOS.Models.Entities.TblUser>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    Layout = "_ManagePage";
    ViewData["Title"] = "Account Manage";
}


<ul style="font-size:1rem;list-style:none; display:flex;">
    <span>Sắp xếp:</span>
    <li style="padding-left: 5px;">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">A-Z</a> |
    </li>
    <li style="padding-left: 5px;">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameDescSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Z-A</a> |
    </li>
    <li style="padding-left: 5px;">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Cũ nhất</a> |
    </li>
    <li style="padding-left: 5px;">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateDescSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Mới nhất</a>
    </li>
    <li>
        <a style="font-size: 1rem; text-decoration: none;margin-left:47rem;" asp-controller="AccountManage" asp-action="Index">Xóa tìm kiếm</a>
    </li>
</ul>
<h1>Quản lý tài khoản</h1>

<p>
    <a  asp-controller="AccountManage" asp-action="Create" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Mã khách hàng</th>
           
            <th>Tài khoản</th>
            <th>Xác nhận</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Số điện thoại</th>
            
            <th>Thời gian hoạt động gần nhất</th>
            
            <th>Trạng thái</th>
            <th>Chức vụ</th>
            <th></th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                
                <td>
                    @{
                        if ((item.IsConfirm) == true)
                        {
                            <p style="color:green; border-radius: 25px; background-color: lightgreen; inline-size: 100%;text-align:center;">Đã xác nhận </p>

                        }
                        else
                        {
                            <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 100%;text-align:center; ">Chưa xác nhận </p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numberphone)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.LastActivitty)
                </td>
                
                <td>
                    @{
                        if ((item.Status) == true)
                        {
                            <p style="color:green; border-radius: 25px; background-color: lightgreen; inline-size: 100%;text-align:center; ">Hoạt động </p>

                        }
                        else
                        {
                            <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 100%;text-align:center; ">Không hoạt động </p>
                        }
                    }
                </td>
                <td>
                    @{
                        if ((item.UserRoleId) == 1)
                        {
                            <p style="color:darkblue; border-radius: 25px; background-color: cornflowerblue; inline-size: 100%;text-align:center;">Quản lý </p>
                        }
                        else if ((item.UserRoleId) == 2)
                        {
                            <p style="color:black; border-radius: 25px; background-color: hotpink; inline-size: 100%;text-align:center;">Staff </p>
                        }
                        else if ((item.UserRoleId) == 3)
                        {
                            <p style="color:black; border-radius: 25px; background-color: blanchedalmond; inline-size: 100%;text-align:center;">Khách hàng </p>
                        }
                        else
                        {
                            <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 100%;text-align:center;">Không có chức vụ </p>
                        }
                    }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div style="font-size:2rem; margin-bottom:2rem; margin-left:1rem;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
</div>
<div style="font-size:1rem; margin-bottom:2rem; margin-left:1rem;">
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
    })
</div>