@model X.PagedList.IPagedList<BMOS.Models.Entities.TblUser>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    Layout = "_ManagePage";
    ViewData["Title"] = "Account Manage";
}


<h1>Quản lý tài khoản</h1>
<br></br>
<a style="text-decoration:none;color:darkorange" asp-controller="AccountManage" asp-action="Create">
    <button type="button" class="btn btn-primary">Tạo tài khoản mới</button>
</a>
<a style="text-decoration:none;color:darkorange" asp-controller="AccountManage" asp-action="Index">
    <button type="button" class="btn btn-warning">Làm mới</button>
</a>

<table class="table">
    <thead>
        <tr>
            <th>Mã khách hàng</th>
           
            <th><a style="text-decoration:none; color:darkorange" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Tài khoản</a></th>
            <th>Xác nhận</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Số điện thoại</th>
            
            <th><a style="text-decoration:none; color:darkorange" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-searchString="@ViewData["SearchParameter"]">Thời gian hoạt động gần nhất</a></th>
            
            <th>Trạng thái</th>
            <th>Chức vụ</th>
            <th class="col-2">Hành động</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                
                <td>
                    @{
                        if ((item.IsConfirm) == true)
                        {
                            <p style="color:green; border-radius: 25px; background-color: lightgreen; inline-size: 100%;text-align:center;">Đã xác nhận </p>

                        }
                        else
                        {
                            <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 100%;text-align:center; ">Chưa xác nhận </p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numberphone)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.LastActivitty)
                </td>
                
                <td>
                    @{
                        if ((item.Status) == true)
                        {
                            <p style="color:green; border-radius: 25px; background-color: lightgreen; inline-size: 100%;text-align:center; ">Hoạt động </p>

                        }
                        else
                        {
                            <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 100%;text-align:center; ">Không hoạt động </p>
                        }
                    }
                </td>
                <td>
                    @{
                        if ((item.UserRoleId) == 1)
                        {
                            <p style="color:darkblue; border-radius: 25px; background-color: cornflowerblue; inline-size: 100%;text-align:center;">Quản lý </p>
                        }
                        else if ((item.UserRoleId) == 2)
                        {
                            <p style="color:black; border-radius: 25px; background-color: hotpink; inline-size: 100%;text-align:center;">Staff </p>
                        }
                        else if ((item.UserRoleId) == 3)
                        {
                            <p style="color:black; border-radius: 25px; background-color: blanchedalmond; inline-size: 100%;text-align:center;">Khách hàng </p>
                        }
                        else
                        {
                            <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 100%;text-align:center;">Không có chức vụ </p>
                        }
                    }
                <td>
                    <a style="text-decoration:none;" asp-action="Edit" asp-route-id="@item.UserId">
                        <button type="button" class="btn btn-primary">Chỉnh sửa</button>
                    </a>
                    <a style="text-decoration:none;" asp-route-id="@item.UserId" data-bs-toggle="modal" data-bs-target="#accdetail-@item.UserId">
                        <button type="button" class="btn btn-info">Chi Tiết</button>
                    </a>
                    <div class="modal" tabindex="-1" id="accdetail-@item.UserId">
                        <div class="modal-dialog modal-xl modal-fullscreen-xl-down">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h5 class="modal-title fw-bold" style="font-size:3rem;">chi tiết đánh giá</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                </div>

                                <div class="info">
                                    <dl class="row" style="margin-left:300px;">
                                        <dt class="col-sm-3">
                                                Mã người dùng
                                        </dt>
                                        <dd class="col-sm-9">
                                                @item.UserId
                                        </dd>
                                        <dt class="col-sm-3">
                                                Username
                                        </dt>
                                        <dd class="col-sm-9">
                                                @item.Username
                                        </dd>
                                        <dt class="col-sm-3">
                                                Password
                                        </dt>
                                        <dd class="col-sm-9">
                                                @item.Password
                                        </dd>
                                        <dt class="col-sm-3">
                                                Xác nhận tài khoản
                                        </dt>
                                        <dd class="col-sm-9">
                                                @{
                                                    if ((item.IsConfirm) == true)
                                                    {
                                                    <p style="color:green; border-radius: 25px; background-color: lightgreen; inline-size: 50%;text-align:center;">Đã xác nhận </p>

                                                    }
                                                    else
                                                    {
                                                    <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 50%;text-align:center; ">Chưa xác nhận </p>
                                                    }
                                                }
                                        </dd>
                                        <dt class="col-sm-3">
                                                Họ
                                        </dt>
                                        <dd class="col-sm-9">
                                                @item.Firstname
                                        </dd>
                                        <dt class="col-sm-3">
                                                Tên
                                        </dt>
                                        <dd class="col-sm-9">
                                                 @item.Lastname
                                        </dd>
                                        <dt class="col-sm-3">
                                                Số điện thoại
                                        </dt>
                                        <dd class="col-sm-9">
                                                @item.Numberphone
                                        </dd>
                                        <dt class="col-sm-3">
                                                Địa chỉ
                                        </dt>
                                        <dd class="col-sm-9">
                                                @item.Address
                                        </dd>
                                        <dt class="col-sm-3">
                                                Ngày tạo
                                        </dt>
                                        <dd class="col-sm-9">
                                                @item.DateCreate
                                        </dd>
                                        <dt class="col-sm-3">
                                                Hoạt động gần nhất
                                        </dt>
                                        <dd class="col-sm-9">
                                                @item.LastActivitty
                                        </dd>
                                        <dt class="col-sm-3">
                                                Số điểm
                                        </dt>
                                        <dd class="col-sm-9">
                                                @item.Point
                                        </dd>
                                        <dt class="col-sm-3">
                                                Trạng thái
                                        </dt>
                                        <dd class="col-sm-9">
                                                @{
                                                    if ((item.Status) == true)
                                                    {
                                                    <p style="color:green; border-radius: 25px; background-color: lightgreen; inline-size: 50%;text-align:center; ">Hoạt động </p>

                                                    }
                                                    else
                                                    {
                                                    <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 50%;text-align:center; ">Không hoạt động </p>
                                                    }
                                                }
                                        </dd>
                                        <dt class="col-sm-3">
                                                Vai trò
                                        </dt>
                                        <dd class="col-sm-9">
                                                @{
                                                    if ((item.UserRoleId) == 1)
                                                    {
                                                    <p style="color:darkblue; border-radius: 25px; background-color: cornflowerblue; inline-size: 50%;text-align:center;">Quản lý </p>
                                                    }
                                                    else if ((item.UserRoleId) == 2)
                                                    {
                                                    <p style="color:black; border-radius: 25px; background-color: hotpink; inline-size: 50%;text-align:center;">Staff </p>
                                                    }
                                                    else if ((item.UserRoleId) == 3)
                                                    {
                                                    <p style="color:black; border-radius: 25px; background-color: blanchedalmond; inline-size: 50%;text-align:center;">Khách hàng </p>
                                                    }
                                                    else
                                                    {
                                                    <p style="color:black; border-radius: 25px; background-color: orangered; inline-size: 50%;text-align:center;">Không có chức vụ </p>
                                                    }
                                                }
                                        </dd>
                                    </dl>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
<div style="font-size:2rem; margin-bottom:2rem; margin-left:1rem;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
</div>
<div style="font-size:1rem; margin-bottom:2rem; margin-left:1rem;">
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
    })
</div>