@model IEnumerable<CartModel>;
@{
	ViewData["Title"] = "Cart";
	Layout = "_HeaderFooter";
}

@if (@Model.Count() == 0)

{
	<div style="background-image: url('images/empty_cart.svg'); background-size: contain; width: 800px; height: 50vh; background-repeat: no-repeat; background-position:center; margin: 0 auto;">
		<a asp-controller="Home" asp-action="Index">Nhấn vào đây để trở lại mua hàng</a>
	</div>
}
else
{
	<div class="row form-group">
		<table class="table">
			<thead>
				<tr>

					<th scope="col">Image</th>
					<th scope="col">Name</th>
					<th scope="col">Price</th>
					<th scope="col">Quantity</th>
					<th scope="col">Total Price</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							<img src="@Html.DisplayFor(modelItem => item._productImage)" style="width: 50px; height: 50px" />
						</td>
						<td>
							@Html.DisplayFor(xx => item._productName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item._price)
						</td>
						<td>
							<input type="number" value="@item._quantity" name="cartItemQuantity"/>
						</td>
						<td>
							@item._getTotalPrice()
						</td>
						<td>
							<a asp-action="Delete" asp-route-id="@item._productId">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

}
<script>
	console.log("Index Cart");
</script>